@use "../abstract/variables/globalVariables" as Gv;
@use "../abstract/mixins/globalMixins" as Gm;

.header {
  height: 8vh;
  width: 100vw;
  padding: 3rem;
  display: flex;
  justify-content: flex-end;

  @include Gm.responsive(tab-land) {
    height: 10vh;
    width: 80vw;
    position: sticky;
    top: 0;
    z-index: 1;
  }

  &__options {
    display: flex;
    justify-content: space-between;

    width: 100%;
    @include Gm.responsive(tab-port) {
      align-items: center;
      width: 35%;
    }
    @include Gm.responsive(tab-land) {
      width: 25%;
    }
    &--link {
      order: 1;
      background-color: Gv.$color-purple-600;
      color: white;
      padding: 1rem;
      font-size: 12px;
      border-radius: 4px;
      @include Gm.responsive(tab-port) {
        order: 0;
        &:hover {
          background-color: Gv.$color-purple-400;
        }
      }
    }
    &--theme-btn {
      order: 1;
      padding: 0.5rem;
      width: 3rem;

      @include Gm.responsive(tab-port) {
        width: 5rem;
      }
    }
  }
}

.light.header {
  background-color: rgba(255, 255, 255, 0.9);
  box-shadow: 1px 1px 4px rgba($color: #000, $alpha: 0.6),
    2px 2px 4px rgba($color: #000, $alpha: 0.6),
    8px 8px 8px rgba($color: #000, $alpha: 0.6);
}
.dark.header {
  background-color: rgba(Gv.$color-dark, 0.95);
  border-bottom: 1px solid Gv.$primary-color;
}
