@use "../abstract/variables/globalVariables" as Gv;
@use "../abstract/mixins/globalMixins" as Gm;

.header {
  height: 8vh;
  width: 100vw;
  padding: 2rem;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  
  @include Gm.responsive(tab-land) {
    height: 10vh;
    width: 80vw;
    position: sticky;
    top: 0;
    z-index: 1;
  }

  &__options {
    &--theme-btn {
      padding: 0.5rem;
      width: 3rem;
      
      @include Gm.responsive(tab-port) {
        width: 5rem;
        
      }
    }
  }
}

.light.header {
  background-color: rgba(255, 255, 255, .9);
  box-shadow: 1px 1px 4px rgba($color: #000, $alpha: 0.6),
  2px 2px 4px rgba($color: #000, $alpha: 0.6),
  8px 8px 8px rgba($color: #000, $alpha: 0.6);
  
}
.dark.header {
  background-color: rgba(Gv.$color-dark, 0.95);
  border-bottom: 1px solid Gv.$primary-color;
  & button {
    color: Gv.$primary-color;
    padding: 0.5rem;
  }
}
