@use "../abstract/variables/globalVariables" as Gv;
@use "../abstract/mixins/globalMixins" as Gm;

.header {
  display: flex;
  height: 8vh;
  padding: 0 2rem;
  width: 100vw;
  z-index: 1;
  transition: background-color .2s ease;
  
  @include Gm.responsive(tab-port) {
    justify-content: flex-end;
    padding: 0 4rem;
  }
  
  @include Gm.responsive(tab-land) {
    height: 11vh;
    width: 80vw;
  }
  
  &__options {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    gap: 2rem;
    justify-content: space-around;
    
    @include Gm.responsive(tab-port) {
      justify-content: flex-end;
      gap: 4rem;
    }
    // @include Gm.responsive(tab-land) {

    // }
    &--link {
      order: 1;
      background-color: Gv.$color-purple-600;
      color: white;
      padding: 1rem;
      font-size: 12px;
      border-radius: 4px;
      @include Gm.responsive(tab-port) {
        order: 0;
        &:hover {
          background-color: Gv.$color-purple-400;
        }
      }
    }
    &--theme-btn {
      order: 0;
    }
  }
}
.ico-theme {
  width: 2.5rem;
  @include Gm.responsive(tab-port) {
    width: 4rem;
  }
}
