@use "../abstract/mixins/globalMixins" as Gm;
@use "../abstract/variables/globalVariables" as Gv;

.main {
  overflow: auto;
  border-top: 1px solid Gv.$primary-color;
  height: 92vh;
  padding: 3rem 5rem 8rem;
  transition: background-color 0.2s ease;
  width: 100%;
  @include Gm.responsive(tab-port) {
    padding: 3rem 25rem 8rem;
    
  }
  @include Gm.responsive(tab-land) {
    width: 100%;
    margin: 0 auto;
    max-height: 89vh;
  }

  & .h1 {
    font-size: 3.5rem;
    text-align: center;
    text-transform: uppercase;
  }
}

.main::-webkit-scrollbar {
  width: 12px;
}

.main::-webkit-scrollbar-track {
  background: white;
}

.main::-webkit-scrollbar-thumb {
  background-color: Gv.$primary-color;
  border-radius: 20px;
  border: 3px solid white;
}
