@use "../abstract/mixins/globalMixins" as Gm;
@use "../abstract/variables/globalVariables" as Gv;

.sidebar {
  display: flex;
  height:90%;
  max-height: 90%;
  overflow-y: auto;
  position: absolute;
  transform: translateY(100%);
  top: 0;
  transition: transform 0.3s ease, background-color 0.3s ease;
  width: 100vw;
  z-index: 2;

  @include Gm.responsive(tab-port) {
    border-radius: 1rem;
    box-shadow: 4px 2px 4px rgba($color: #000, $alpha: 0.6),
      -4px 4px 8px rgba($color: #000, $alpha: 0.6);
    height: 60%;
    max-height: 60%;
    right: 2vw;
    top: 10vh;
    transform: translate(115%, -12%);
    width: 35vw;
    border: none;
  }
  
  @include Gm.responsive(tab-land) {
    border-radius: 0;
    box-shadow: none;
    top: 0;
    height: 100%;
    max-height: 90%;
    position: relative;
    right: 0;
    transform: translateY(0);
    width: 20vw;
    border-right: 1px solid Gv.$primary-color;
    border-top: 1px solid Gv.$primary-color;
  }
}
.show-sidebar {
  transform: translateY(0);
}

.dark.navigation {
  .navigation__btn-menu {
    background-color: Gv.$color-dark;
  }
  .sidebar {
    background-color: rgba($color: rgb(19, 18, 18), $alpha: 0.98);
    @include Gm.responsive(tab-land) {
      background-color: Gv.$color-dark;
    }

    .sidebar__container--link {
      color: rgb(204, 204, 204);
      @include Gm.responsive(tab-land) {
        &:hover {
          color: white;
        }
      }
    }
    .sidebar__container--item {
      @include Gm.responsive(tab-land) {
        &:hover {
          background-color: Gv.$primary-color;
        }
      }
    }
  }
}

.light.navigation {
  .navigation__btn-menu {
    background-color: Gv.$color-white-200;
  }
  .sidebar {
    background-color: rgba($color: #ffffff, $alpha: 0.95);
    .sidebar__container--link {
      color: Gv.$color-blue-400;
      @include Gm.responsive(tab-land) {
        &:hover {
          color: white;
        }
      }
    }
    .sidebar__container--item {
      @include Gm.responsive(tab-land) {
        &:hover {
          background-color: Gv.$color-blue-400;
        }
      }
    }
  }
}

.sidebar::-webkit-scrollbar {
  @include Gm.responsive(tab-port){
    width: 10px;

  }
  @include Gm.responsive(tab-land){
    width: 12px;

  }
}

.sidebar::-webkit-scrollbar-track {
  background: whitesmoke;
}

.sidebar::-webkit-scrollbar-thumb {
  background-color: rgba(128, 0, 128, 0.548);
  @include Gm.responsive(tab-land){
    background-color: purple;  
  }
  border-radius: 20px;
  border: 3px solid whitesmoke;

}
