@use "../mixins/button" as bm;
@use "../mixins/globalMixins" as Gm;

.sm-100 {
  padding: 4px 20px;
  font-size: 10px;
}

.sm-200 {
  padding: 2px 20px;
  font-size: 14px;
}

.sm-300 {
  padding: 0px 20px;
  font-size: 20px;
}

.md-100 {
  padding: 4px 35px;
  font-size: 20px;
}

.md-200 {
  padding: 2px 35px;
  font-size: 24px;
}

.md-300 {
  padding: 0px 35px;
  font-size: 30px;
}

.lg-100 {
  padding: 4px 50px;
  font-size: 30px;
}

.lg-200 {
  padding: 2px 50px;
  font-size: 34px;
}

.lg-300 {
  padding: 0px 50px;
  font-size: 40px;
}

.vw-25 {
  width: 15%;
  padding: 6px 20px;
  font-size: 16px;
  @include Gm.responsive(tab-port){
    width: 35%;
  }
  @include Gm.responsive(tab-land){
    width: 25%;
  }
}

.vw-50 {
  width: 25%;
  padding: 6px 20px;
  font-size: 16px;
  @include Gm.responsive(tab-port){
    width: 50%;
  }
}

.vw-75 {
  width: 35%;
  padding: 6px 20px;
  font-size: 16px;
  @include Gm.responsive(tab-port){
    width: 65%;
  }
  @include Gm.responsive(tab-land){
    width: 75%;
  }
}

.vw-100 {
  width: 45%;
  padding: 6px 20px;
  font-size: 16px;
  @include Gm.responsive(tab-port){
    width: 75%;
  }
  @include Gm.responsive(tab-land){
    width: 100%;
  }
}
