@use "../variables/globalVariables" as Gv;
@use "../mixins/button.scss" as bm;
@use "sass:map";
@use "sass:math";

$colors: (
  "green": #298000,
  "yellow": #bdbc0d,
  "purple": #9900ff,
  "red": #e61919,
  "blue": #1919e6,
  "pink": #fe3dfe,
  "black": #464444,
  "orange": #ff5e00,
);

@each $key, $val in $colors {
  .btn__#{$key} {
    color: $val;
  }

  @for $i from 1 through 3 {
    .btn__#{$key}-#{$i}00 {
      @include bm.btnColor(mix(rgba(0, 0, 0), $val, $i * 15%));
    }
  }
}

@each $key, $val in $colors {
  .btn__outline-#{$key} {
    color: $val;
    @include bm.outlined($val);
  }
}

//@dialmonsalve
// ! Button Colors
.btn {
  &__white-100 {
    @include bm.btnColor(Gv.$color-white-200);
  }

  &__outline-white {
    @include bm.outlined(Gv.$color-gray-200);
  }

   &__gray-100 {
    @include bm.btnColor(Gv.$color-black-100);
  }

  &__gray-200 {
    @include bm.btnColor(Gv.$color-black-200);
  }

  &__gray-300 {
    @include bm.btnColor(Gv.$color-black-300);
  }
}
