//@dialmonsalve
.r-0_lui_31032024_DIA_ {
  border-radius: 0;
}

.r-1_lui_31032024_DIA_ {
  border-radius: 4px;
}

.r-2_lui_31032024_DIA_ {
  border-radius: 6px;
}

.r-3_lui_31032024_DIA_ {
  border-radius: 8px;
}

.r-4_lui_31032024_DIA_ {
  border-radius: 12px;
}

.r-5_lui_31032024_DIA_ {
  border-radius: 16px;
}

.r-100_lui_31032024_DIA_ {
  border-radius: 50%;
}
