@use "sass:map";

$colors: (
  "green": rgb(109, 188, 13),
  "yellow": rgb(189, 188, 13),
  "purple": rgb(75, 54, 212),
  "red": rgb(180, 19, 0),
  "blue": rgb(0, 61, 254),
  "pink": rgb(254, 61, 254),
  "gray": rgb(70, 68, 68),
  "black": rgb(0, 0, 0),
  "orange": #ff5e00,
);



@each $key, $val in $colors {
  .btn__#{$key}{
    color: $val;

  }
  @for $i from 1 through 3 {
    .btn__#{$key}-light-#{$i}00{
      color: mix(white, $val, $i * 20%);
    }
  }
}
