$font-family: "Nunito Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;

//@dialmonsalve
$green: rgb(109, 188, 13);

$yellow: rgb(189, 188, 13);

$purple: rgb(75, 54, 212);

$red: rgb(180, 19, 0);

$blue: rgb(0, 61, 254);

$pink: rgb(254, 61, 254);

$gray: rgb(70, 68, 68);

$black: rgb(0, 0, 0);

$orange: #ff5e00;

$color-white-100: #f5f5f5;
$color-white-200: white;

$color-gray-100: rgba(
  $color: $gray,
  $alpha: 0.125,
);
$color-gray-200: rgba(
  $color: $gray,
  $alpha: 0.361,
);
$color-gray-300: rgba(
  $color: $gray,
  $alpha: 0.635,
);
$color-gray-400: rgba(
  $color: $gray,
  $alpha: 1,
);

$color-black-100: rgba(
  $color: $black,
  $alpha: 0.231,
);
$color-black-200: rgba(
  $color: $black,
  $alpha: 0.42,
);
$color-black-300: rgba(
  $color: $black,
  $alpha: 0.502,
);
$color-black-400: rgba(
  $color: $black,
  $alpha: 1,
);

$color-blue-100: rgba(
  $color: $blue,
  $alpha: 0.15,
);
$color-blue-200: rgba(
  $color: $blue,
  $alpha: 0.3,
);
$color-blue-300: rgba(
  $color: $blue,
  $alpha: 0.4,
);
$color-blue-400: rgba(
  $color: $blue,
  $alpha: 0.65,
);
$color-blue-500: rgba(
  $color: $blue,
  $alpha: 0.8,
);
$color-blue-600: rgba(
  $color: $blue,
  $alpha: 1,
);

$color-red-100: rgba(
  $color: $red,
  $alpha: 0.15,
);
$color-red-200: rgba(
  $color: $red,
  $alpha: 0.3,
);
$color-red-300: rgba(
  $color: $red,
  $alpha: 0.4,
);
$color-red-400: rgba(
  $color: $red,
  $alpha: 0.65,
);
$color-red-500: rgba(
  $color: $red,
  $alpha: 0.8,
);
$color-red-600: rgba(
  $color: $red,
  $alpha: 1,
);

$color-pink-100: rgba(
  $color: $pink,
  $alpha: 0.15,
);
$color-pink-200: rgba(
  $color: $pink,
  $alpha: 0.3,
);
$color-pink-300: rgba(
  $color: $pink,
  $alpha: 0.4,
);
$color-pink-400: rgba(
  $color: $pink,
  $alpha: 0.65,
);
$color-pink-500: rgba(
  $color: $pink,
  $alpha: 0.8,
);
$color-pink-600: rgba(
  $color: $pink,
  $alpha: 1,
);

$color-purple-100: rgba(
  $color: $purple,
  $alpha: 0.15,
);
$color-purple-200: rgba(
  $color: $purple,
  $alpha: 0.3,
);
$color-purple-300: rgba(
  $color: $purple,
  $alpha: 0.4,
);
$color-purple-400: rgba(
  $color: $purple,
  $alpha: 0.65,
);
$color-purple-500: rgba(
  $color: $purple,
  $alpha: 0.8,
);
$color-purple-600: rgba(
  $color: $purple,
  $alpha: 1,
);

$color-yellow-100: rgba(
  $color: $yellow,
  $alpha: 0.15,
);
$color-yellow-200: rgba(
  $color: $yellow,
  $alpha: 0.3,
);
$color-yellow-300: rgba(
  $color: $yellow,
  $alpha: 0.4,
);
$color-yellow-400: rgba(
  $color: $yellow,
  $alpha: 0.65,
);
$color-yellow-500: rgba(
  $color: $yellow,
  $alpha: 0.8,
);
$color-yellow-600: rgba(
  $color: $yellow,
  $alpha: 1,
);

$color-green-100: rgba(
  $color: $green,
  $alpha: 0.15,
);
$color-green-200: rgba(
  $color: $green,
  $alpha: 0.3,
);
$color-green-300: rgba(
  $color: $green,
  $alpha: 0.4,
);
$color-green-400: rgba(
  $color: $green,
  $alpha: 0.65,
);
$color-green-500: rgba(
  $color: $green,
  $alpha: 0.8,
);
$color-green-600: rgba(
  $color: $green,
  $alpha: 1,
);

$color-orange-100: rgba(
  $color: $orange,
  $alpha: 0.3,
);
$color-orange-200: rgba(
  $color: $orange,
  $alpha: 0.45,
);
$color-orange-300: rgba(
  $color: $orange,
  $alpha: 0.55,
);
$color-orange-400: rgba(
  $color: $orange,
  $alpha: 0.7,
);
$color-orange-500: rgba(
  $color: $orange,
  $alpha: 0.8,
);
$color-orange-600: rgba(
  $color: $orange,
  $alpha: 1,
);
