@use "../abstract/variables/globalVariables" as Gv;

._input_daem_22 {
  border: none;
  padding: 10px;
  outline: none;
  border-radius: 6px;

  &:focus {
    outline: 2px solid Gv.$color-green-400;
  }

}

.rojo {
  background-color: black;

}