@use "../abstract/variables/globalVariables" as Gv;
@use "../abstract/mixins/globalMixins" as Gm;

.code-highlighter {
  position: relative;

  @include Gm.responsive(tab-port) {
    margin: 0 auto;
    width: 100%;
  }

  &__btn {
    position: absolute;
    top: 15px;
    right: 10px;
    color: white;
    width: 15px;
    @include Gm.responsive(tab-port) {
      width: 20px;
    }
  }
}
