@use "../../abstract/variables/globalVariables" as Gv;
@use "../../abstract/mixins/globalMixins" as Gm;

//@dialmonsalve
//! Button beat
.beat {
  @include Gm.responsive(tab-land) {
    transition: transform 0.3s ease;

    &:hover {
      transform: translateY(-3px);
      box-shadow: 0 10px 20px rgba(Gv.$color-black-200, 0.2);

      &::after {
        transform: scaleX(1.4) scaleY(1.6);
        opacity: 0;
      }
    }

    &:active,
    &:focus {
      outline: none;
    }

    &::after {
      content: "";
      height: 100%;
      width: 100%;
      border-radius: 100px;
      position: absolute;
      top: 0;
      left: 0;
      z-index: -1;
      transition: all 0.3s ease-in-out;
      background-color: inherit;
    }
    
  }
}
