@media (min-width: 900px) {
  .squares:hover {
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.42);
  }
  .squares:hover span:nth-child(1) {
    right: 80%;
    transform: rotate(180deg);
    color: black;
    background-color: white;
    border-radius: 50%;
  }
  .squares:hover span:nth-child(2) {
    left: 80%;
    transform: rotate(90deg);
    color: black;
    background-color: white;
    border-radius: 50%;
  }
  .squares span:nth-child(n) {
    position: absolute;
    width: 15px;
    height: 15px;
    border: 2px solid;
    transition: all 0.6s ease;
  }
  .squares span:nth-child(1) {
    right: 10%;
    top: -8px;
    background-color: inherit;
    color: white;
  }
  .squares span:nth-child(2) {
    left: 10%;
    bottom: -8px;
    background-color: inherit;
    color: white;
  }
}
