@use "../../develop/sass/abstract/variables/globalVariables" as Gv;
@forward "../../develop/sass/abstract/variables/buttonColor";
@forward "../../develop/sass/abstract/variables/buttonRadial";
@forward "../../develop/sass/abstract/variables/buttonSize";

//@dialmonsalve
.btn {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  transition: all 0.1s ease-in-out;
  box-shadow: 3px 3px 2px rgba(0, 0, 0, 0.3);
  font-weight: 700;
  flex-direction: row;
  cursor: pointer;
}
.animated {
  animation: moveInBottom 0.2s ease-out 0.5s backwards;
}

.ico {
  display: flex;
  align-items: center;
  right: 1%;
  position: absolute;
  flex-direction: row;
}
.disabled {
  background-color: Gv.$color-gray-100;
  color: inherit;
  cursor: not-allowed;
  border: 1px solid Gv.$color-gray-200;
  &,
  &:link,
  &:visited {
    letter-spacing: 0.5px;
  }
}
.uppercase {
  text-transform: uppercase;
}
.lowercase {
  text-transform: lowercase;
}
.capitalize {
  text-transform: capitalize;
}

@keyframes moveInBottom {
  0% {
    opacity: 0;
    transform: translateY(30px);
  }

  100% {
    opacity: 1;
    transform: translate(0);
  }
}
