@use "../abstract/mixins/globalMixins" as Gm;
@use "../abstract/variables/globalVariables" as Gv;

.list {

  line-height: 2.2rem;
  font-size: 1.4rem;
  @include Gm.responsive(tab-land) {
    font-size: 2rem;
  }
}

.npm {
  border: 1px solid Gv.$color-white-200;
  width: 9rem;
  text-align: center;
  padding:.8rem;
  font-size: 12px;
  box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.6);
  background-color: Gv.$color-purple-500;
  color: white;
  border-radius: 7px;
  
  @include Gm.responsive(tab-land){
    &:hover {
      background-color: Gv.$color-purple-600;

    }
  }
}