@use "../abstract/mixins/globalMixins" as Gm;
@use "../abstract/variables/globalVariables" as Gv;

.not-found {

  min-height: 74vh;
  @include Gm.responsive(tab-port) {
    display: flex;
    flex-direction: column;
  }
}
.image {
  width: 30rem;
  height: 30rem;
  @include Gm.responsive(tab-port) {
    width: 55rem;
    height: 55rem;
  }
}
.img {
  width: 30rem;
  @include Gm.responsive(tab-port) {
    width: 55rem;
  }
  margin: 0 auto;
}
