@use '../abstract/variables' as v;
@use '../abstract/mixins' as m;

.btn {

  &,
  &:link,
  &:visited {
    border-radius: 1rem;
    letter-spacing: 1.5px;
    position: relative;
    transition: all .1s ease-in-out;
  }

  &:focus,
  &:focus-visible {
    outline: 2px auto -webkit-focus-ring-color;
  }

  &::after {
    content: "";
    height: 100%;
    width: 100%;
    border-radius: 10rem;
    position: absolute;
    top: 0;
    left: 0;
    transition: all .4s;
  }

  &--animated {
    animation: moveInBottom .5s ease-out 0.75s;
    animation-fill-mode: backwards;
  }

  &--blue {
    @include m.btnColor(v.$color-blue);
  }

  &--green {
    @include m.btnColor(v.$color-green);
  }

  &--red {
    @include m.btnColor(v.$color-red);
  }

  &--outlined-blue {
    @include m.outlined(v.$color-blue);
  }

  &--outlined-green {
    @include m.outlined(v.$color-green);
  }

  &--outlined-red {
    @include m.outlined(v.$color-red);
  }

  &--small {
    font-size: 1rem;
    padding: .6rem 0.7rem;
  }

  &--medium {
    font-size: 1.5rem;
    padding: .7rem 1.2rem;
  }

  &--large {
    font-size: 1.9rem;
    padding: .8rem 1.7rem;
  }

}

@keyframes moveInBottom {
  0% {
    opacity: 0;
    transform: translateY(3rem);
  }

  100% {
    opacity: 1;
    transform: translate(0);
  }
}