@use "../variables/globalVariables" as Gv;
//@dialmonsalve
@mixin responsive($breakpoint) {
  @if $breakpoint == phone {
    @media (max-width: 600px) {
      @content;
    } // 600px
  }

  @if $breakpoint == tab-port {
    @media (min-width: 600px) {
      @content;
    } // 600px - 900px
  }

  @if $breakpoint == tab-land {
    @media (min-width: 900px) {
      @content;
    } // 900px - 1800px
  }

  @if $breakpoint == big-desktop {
    @media (min-width: 1800px) {
      @content;
    } // 1800px en adelante
  }
}

@mixin color($background, $color: Gv.$color-gray-400) {
  background-color: $background;
  color: $color;
  &:hover {
    @include responsive(tab-port) {
      color: Gv.$color-white-200;
      @if (
        $background == Gv.$color-white-100 or $background == Gv.$color-white-200
      ) {
        background-color: Gv.$color-gray-300;
      } @else {
        background-color: rgba($color: $background, $alpha: 1);
      }
    }
  }
}
