@use "../variables/globalVariables" as Gv;


@mixin spinner() {
  background-color: transparent;
  position: absolute;
  max-width: 100%;
}

@mixin containerMice($gap) {
  display: flex;
  justify-content: space-between;
  animation: mice 1s linear infinite;
  gap: $gap;
}

@mixin mice($height, $width) {
  border-radius: 50%;
  height: $height;
  width: $width;
  background: linear-gradient(
    45deg,
    Gv.$color-black-400 0%,
    black 10%,
    white 100%
  );
}


@mixin fleas() {
  border-radius: 50%;
  display: block;
  background: linear-gradient(
    135deg,
    Gv.$color-black-400 0%,
    Gv.$color-black-400 50%,
    Gv.$color-red-600 100%
  );
}

@mixin containerCircle() {
  display: flex;
}

@mixin iconSpinnerCircle($translateY, $background, $delay) {
  transform: translateY($translateY);
  animation: circles 0.3s linear infinite $delay;
  background: $background;
}

@mixin squares($background) {
  background: $background;
}

@keyframes circles {
  50% {
    transform: translateY(0px);
  }

  100% {
    transform: translateY(20%);
  }
}




