@use "../../abstract/mixins/globalMixins" as Gm;
@use "../../abstract/variables/globalVariables" as Gv;

.header {
  align-items: center;
  border-bottom: 1px solid Gv.$primary-color;
  display: flex;
  grid-area: header;
  height: 10vh;
  justify-content: space-around;
  padding: 0 2rem 0;
  position: sticky;
  top: 0;
  width: 100vw;
  z-index: 3;
  transition: background-color 0.2s ease;

  @include Gm.responsive(tab-port) {
    justify-content: space-between;
    padding: 0 2rem 0 9rem;
    gap: 3rem;
  }
  @include Gm.responsive(tab-land) {
    padding: 0 2rem 0 13rem;
  }

  &__logo {
    display: none;
    @include Gm.responsive(tab-port) {
      display: flex;
    }
  }

  &__options {
    display: flex;
    gap: 3rem;
    align-items: center;
  }

  &__link {
    padding: 1.5rem 1rem;
    border-radius: 0.7rem;
    font-size: 12px;
    background-color: Gv.$primary-color;
    font-weight: 700;
    color: white;
    width: 155px;
    display: flex;
    justify-content: center;
    text-align: center;
  }
}
.ico-theme {
  width: 2.5rem;
  @include Gm.responsive(tab-port) {
    width: 4rem;
  }
}
