@use '../abstract/mixins/globalMixins' as Gm;

@mixin status($opacity: 0, $visibility: hidden) {
  opacity: $opacity;
  visibility: $visibility;
}

.modal-show-fade-in-out-3001-24 {
  @include status(1, visible);
}

.modal-hide-fade-in-out-3001-24 {
  @include status();
}

.modal-show-toUp-3001-24 {
  transform: translateY(0);
}

.modal-hide-toUp-3001-24 {
  @include status();
  transform: translateY(100%);
}

.modal-show-toDown-3001-24 {
  transform: translateY(0);
}

.modal-hide-toDown-3001-24 {
  @include status();
  transform: translateY(-100%);
}

.modal-show-toRight-3001-24 {
  transform: translateX(0);
}

.modal-hide-toRight-3001-24 {
  @include status();
  transform: translateX(-100%);
}

.modal-show-toLeft-3001-24{
  transform: translateX(0);
}

.modal-hide-toLeft-3001-24 {
  @include status();
  transform: translateX(100%);
}

.modal-show-jumpToUp-3001-24 {
  animation: modalAnimationUp 0.8s cubic-bezier(0.42, 0, 0.58, 5);
}

.modal-hide-jumpToUp-3001-24 {
  @include status();
  transform: translateY(100%);
}

.modal-show-jumpToDown-3001-24{
  animation: modalAnimationDown .8s cubic-bezier(0.42, 0, 0.58, 5);
}

.modal-hide-jumpToDown-3001-24 {
  @include status();
  transform: translateY(-100%);
}

.modal-show-jumpToRight-3001-24 {
  animation: modalAnimationRight .8s cubic-bezier(0.42, 0, 0.58, 5);
}

.modal-hide-jumpToRight-3001-24 {
  @include status();
  transform: translateX(-100%);
}

.modal-show-jumpToLeft-3001-24 {
  animation: modalAnimationLeft .8s cubic-bezier(0.42, 0, 0.58, 5);
}

.modal-hide-jumpToLeft-3001-24 {
  @include status();
  transform: translateX(100%);
}

@keyframes modalAnimationDown {
  0% {
    transform: translateY(-50%);
  }

  50% {
    transform: translateY(-20px);
  }

  100% {
    transform: translateY(0);
  }
}

@keyframes modalAnimationRight {
  0% {
    transform: translateX(-50%);
  }

  50% {
    transform: translateX(-20px);
  }

  100% {
    transform: translateX(0);
  }
}

@keyframes modalAnimationLeft {
  0% {
    transform: translateX(50%);
  }

  50% {
    transform: translateX(20px);
  }

  100% {
    transform: translateX(0);
  }
}

@keyframes modalAnimationUp {
  0% {
    transform: translateY(50%);
  }

  50% {
    transform: translateY(20px);
  }

  100% {
    transform: translateY(0);
  }
}