.show-notification {
  opacity: 1;
  transform: translateX(0);
}

.hide-notification-right {
  opacity: 0;
  transform: translateX(110%);
}

.hide-notification-left {
  opacity: 0;
  transform: translateX(-110%);
}