.show-alert-3001-24 {
  opacity: 1;
  transform: translateX(0);
}

.hide-alert-right-3001-24 {
  opacity: 0;
  transform: translateX(110%);
}

.hide-alert-left-3001-24 {
  opacity: 0;
  transform: translateX(-110%);
}