.show-alert-508065-203010 {
  opacity: 1;
  transform: translateX(0);
}

.hide-alert-right-508065-203010 {
  opacity: 0;
  transform: translateX(110%);
}

.hide-alert-left-508065-203010 {
  opacity: 0;
  transform: translateX(-110%);
}