@use "../abstract/variables/globalVariables" as Gv;
@use "../abstract/mixins/globalMixins" as Gm;
@use "../abstract/mixins/button" as bm;
//@dialmonsalve
.tags {
  background-color: Gv.$color-white-100;
  border-radius: 6px;
  border: 1px solid Gv.$color-gray-200;
  display: flex;
  flex-direction: row;
  flex-grow: 1;
  flex-wrap: wrap;
  gap: 2px;
  overflow: auto;
  padding: 5px 4px 5px;
  min-height: 36px;
  box-sizing: border-box;
  min-width: 100%;

  &__badge {
    align-items: center;
    background-color: Gv.$color-blue-400;
    border-radius: 10px;
    color: Gv.$color-white-200;
    display: flex;
    flex-direction: row;
    font-size: 12px;
    font-weight: 700;
    gap: 4px;
    padding: 2px 8px;

    @include Gm.responsive(tab-land) {
      font-size: 14px;
      cursor: pointer;

      &:hover,
      &:focus {
        background-color: Gv.$color-red-200;
        border-color: Gv.$color-red-300;
      }

      &:hover,
      > .remove-btn,
      &:focus > .remove-btn {
        color: Gv.$color-white-200;
      }
    }
  }

  &__remove {
    color: Gv.$color-red-400;
    font-weight: 700;
  }
}
.container-input {
  display: flex;
  gap: 1rem;
  align-items: center;
  flex-direction: row;
}

.container {
  display: flex;
  flex-direction: column;
  min-width: 100%;
  gap: 4px;
}

.btn {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  transition: all 0.1s ease-in-out;
  box-shadow: 3px 3px 2px rgba(0, 0, 0, 0.3);
  font-weight: 700;
  flex-direction: row;
  cursor: pointer;
  border-radius: 6px;
  text-transform: uppercase;
  @include bm.btnSize(6px 20px, 10px);
}

.background{
  @include bm.btnColor(Gv.$color-green-400);
}

.disabled {
  background-color: Gv.$color-gray-100;
  color: inherit;
  cursor: not-allowed;
  border: 1px solid Gv.$color-gray-200;
  &,
  &:link,
  &:visited {
    letter-spacing: 0.5px;
  }
}
