@use "../abstract/mixins/globalMixins" as Gm;
@use "../abstract/variables/globalVariables" as Gv;

//@dialmonsalve
.notification {
  position: relative;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 900;
  flex-direction: row;

  &::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    border-radius: 50%;
    z-index: 0;
  }
}
.sm {
  width: 30px;
  height: 30px;

  & > p {
    font-size: 13px;
  }
}

.md {
  width: 40px;
  height: 40px;

  & > p {
    font-size: 18px;
  }
}

.lg {
  width: 50px;
  height: 50px;

  & > p {
    font-size: 22px;
  }
}

.yellow {
  @include Gm.color(Gv.$color-yellow-500, Gv.$color-white-100);
}

.blue {
  @include Gm.color(Gv.$color-blue-500, Gv.$color-white-100);
}

.red {
  @include Gm.color(Gv.$color-red-500, Gv.$color-white-100);
}

.green {
  @include Gm.color(Gv.$color-green-500, Gv.$color-white-100);
}

.purple {
  @include Gm.color(Gv.$color-purple-500, Gv.$color-white-100);
}

.pink {
  @include Gm.color(Gv.$color-pink-500, Gv.$color-white-100);
}

.orange {
  @include Gm.color(Gv.$color-orange-500, Gv.$color-white-100);
}

.gray {
  @include Gm.color(Gv.$color-gray-200);
}

.black {
  @include Gm.color(Gv.$color-black-300, Gv.$color-white-100);
}

.white {
  @include Gm.color(Gv.$color-white-200);
  border: thin solid Gv.$color-gray-300;
}

.disabled {
  background-color: Gv.$color-gray-300;
  color: Gv.$color-white-200;
}

.notification-animation {
  &::after {
    animation: notification 1s 3 1s;
  }
}

@keyframes notification {
  0% {
    opacity: 0;
  }

  25% {
    opacity: 0.7;
    background-color: inherit;
  }

  50% {
    transform: scale(3);
    opacity: 0.2;
    border: 1px solid Gv.$color-white-200;
  }

  100% {
    opacity: 0;
  }
}
