@use "../../abstract/mixins/globalMixins" as Gm;
@use "../../abstract/mixins/spinner" as s;
@use "../../abstract/variables/globalVariables" as Gv;
@forward "../../animations/iconSpinner";

.icon-spinner {
  background-color: transparent;
  position: absolute;
  max-width: 100%;

  &__mice {
    display: flex;
    justify-content: space-between;
    animation: mice 1s linear infinite;
    gap: 2px;

    &--1,
    &--2 {
      border-radius: 50%;
      display: block;
      height: 0.8em;
      width: 0.6em;
      background: linear-gradient(
        45deg,
        Gv.$color-black-400 0%,
        black 10%,
        white 100%
      );
    }
  }
}

.icon-spinner {
  &__fleas {
    @include s.containerFleas(5px);

    &--1,
    &--2,
    &--3,
    &--4,
    &--5,
    &--6 {
      @include s.fleas(0.4em, 0.3em);
    }

    &--1 {
      transform: translateY(10px);
      animation: fleas 0.4s linear infinite;
    }

    &--2 {
      transform: translateY(8px);
      animation: fleas 0.3s linear infinite 0.5s;
    }

    &--3 {
      transform: translateY(6px);
      animation: fleas 0.3s linear infinite;
    }

    &--4 {
      transform: translateY(-5px);
      animation: fleas 0.3s linear infinite 0.3s;
    }

    &--5 {
      transform: translateY(10px);
      animation: fleas 0.3s linear infinite;
    }

    &--6 {
      transform: translateY(-6px);
      animation: fleas 0.3s linear infinite 0.4s;
    }
  }
}

.icon-spinner {
  &__circles {
    @include s.containerCircle();

    &--1,
    &--2,
    &--3 {
      border-radius: 50%;
    }

    &--3 {
      @include s.iconSpinnerCircle(8px, 8px, 8px, Gv.$color-black-400, 0.6s);
    }

    &--2 {
      @include s.iconSpinnerCircle(4px, 12px, 12px, Gv.$color-gray-300, 0.3s);
    }

    &--1 {
      @include s.iconSpinnerCircle(0, 16px, 16px, Gv.$color-white-200, 0s);
    }
  }
}

.icon-spinner {
  &__eclipse {
    justify-content: space-between;
    animation: left-right 1s linear infinite;

    &--1 {
      width: 16px;
      height: 16px;
      background: linear-gradient(45deg, white 0%, transparent 50%, blue 100%);
      display: block;
      border-radius: 50%;
      border: 1px solid Gv.$color-yellow-500;
    }
  }
}

.icon-spinner {
  &__squares {
    display: flex;
    gap: 12px;

    &--1,
    &--2 {
      display: block;
      @include s.squares(
        12px,
        12px,
        linear-gradient(
          135deg,
          Gv.$color-purple-400 0%,
          transparent 50%,
          Gv.$color-pink-600 100%
        )
      );
    }

    &--1 {
      animation: rect-right 1s linear infinite;
      transform: translateY(6px);
    }

    &--2 {
      animation: rect-left 1s linear infinite;
      transform: translateY(-6px);
    }
  }
}
