@use "../../develop/sass/abstract/variables/globalVariables" as Gv;

//@dialmonsalve
.eclipse {
  animation: left-right 1.5s linear infinite;

  &--1 {
    background: linear-gradient(
      13.5deg,
      Gv.$color-blue-600 0%,
      Gv.$color-white-200 65%,
      yellow 100%
    );
    border-radius: 50%;
    display: block;
    width: 100%;
    height: 100%;
  }
}
.sm {
  width: 18px;
  height: 18px;
}
.md {
  width: 25px;
  height: 25px;
}
.lg {
  width: 35px;
  height: 35px;
}
.vw {
  width: 25px;
  height: 25px;
  right: 10%;
}

@keyframes left-right {
  100% {
    transform: rotate(359deg);
  }
}
