@use "../../abstract/variables/globalVariables" as Gv;

.input-3001-24{
  border: none;
  padding: 10px;
  outline: none;
  border-radius: 8px;

  &:focus {
    outline: 2px solid Gv.$color-green-400;
  }

}