@use "../../abstract/mixins/globalMixins" as Gm;
@use "../../abstract/variables/globalVariables" as Gv;

.text-area-508065-203010 {
  padding: 16px;
  border: 1px solid Gv.$color-gray-200;
  border-radius: 5px;
  resize: vertical;
  outline: none;
  
  &:focus {
    outline: 1px solid Gv.$color-green-400;
  }

  &--value {
    width: 30px;
    padding: 8px;
    color: green;
    font-weight: 900;
  }
}