.checkbox {
  min-width: 40px;
  height: 16px;
  width: 40px;
  background-color: rgba(70, 68, 68, 0.361);
  border-radius: 20px;
  position: relative;
  box-shadow: 4px 1px 5px rgba(0, 0, 0, 0.42);
}
.checkbox::before {
  content: "";
  width: 20px;
  height: 20px;
  transition: transform 0.2s ease-in, background-color 0.2s ease-out;
  position: absolute;
  border-radius: 24px;
  box-shadow: 4px 1px 5px rgba(0, 0, 0, 0.42);
  background-color: white;
  top: -10%;
}

.pulse {
  width: 100%;
  height: 100%;
  opacity: 0;
}

.active {
  background-color: rgba(0, 61, 254, 0.65);
}
.active::before {
  transform: translateX(100%);
  background-color: #003dfe;
}
