.text-area {
  padding: 10px;
  border: 1px solid rgba(70, 68, 68, 0.361);
  border-radius: 5px;
  resize: vertical;
  outline: none;
}
.text-area:focus {
  outline: 1px solid rgba(109, 188, 13, 0.65);
}

.value {
  width: 30px;
  padding: 8px;
  font-weight: 900;
  font-size: 18px;
}

.green {
  color: #6dbc0d;
}

.red {
  color: #b41300;
}

.container {
  min-width: 100%;
  display: flex;
  flex-direction: column;
}
