

$color-green: #0fa61e;

$color-blue: #1ea7fd;

$color-white: white;

$color-red: #dc1414;

$color-purple: #646cff;

$font-family: 'Nunito Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;

$success: #37ff00;

$warning: #ffd900;

$info: #022BFF;

$danger: #ff0000;