@use '../variables/globalVariables' as Gv;
@use '../mixins/globalMixins' as Gm;

//! Button with background
@mixin btnColor($color) {
  color: Gv.$color-white-100;
  background-color: $color;
  border: 2px solid $color;

  @include hoverAnimations($color);

  @if $color ==Gv.$color-white-100 or $color ==Gv.$color-white-200 {
    color: rgb(0 0 0 / .7);
  }
}

//! Button without background
@mixin outlined($color) {
  background-color: transparent;
  border: 2px solid $color;
  color: $color;
  @include hoverAnimations($color);
}

//! Button sizes
@mixin size($font-size, $width, $height) {
  font-size: $font-size;
  width: $width;
  height: $height;

}

//! Little beat in buttons
@mixin hoverAnimations($color) {
  @include Gm.respond(tab-port){

    &:hover {
      background-color: rgba($color: $color, $alpha: 0.55);
      color: Gv.$color-white-200;
      border: 2px solid $color;
  
      @if $color ==Gv.$color-white-200 {
        color: Gv.$color-black-300;
      }
    }
  }

  
}