@use '../abstract/mixins' as m;

.card {
  border-radius: 1rem;
  border: 1px solid transparent;
  box-shadow: 3px 3px 2px rgba(0, 0, 0, 0.3);
  display: flex;
  flex-direction: column;
  transition: transform .2s ease-in;
  width: 33rem;

  @include m.respond(tab-port) {
    width: 25rem;
  }

  @include m.respond(phone) {
    width: 25rem;
  }

  &:hover {
    transform: scale(1.01);
    cursor: pointer;
    outline: 3px solid rgb(119, 121, 119);
  }

  &__head {
    border-radius: 1rem 1rem 0 0;
    display: flex;
    flex-wrap: wrap;
    padding: 1.5rem;
  }

  &__media {
    flex: 1.5;
    display: flex;
    flex-direction: column;

    &--controls {
      flex: 1;
    }
  }

  &__content {
    display: flex;
    flex-direction: column;
    flex: 1;
    align-items: center;

    &--controls {
      padding: 1rem;
      flex: 1;
    }
  }

  &__actions {
    border-radius: 0 0 1rem 1rem;
    display: flex;
    // flex-wrap: wrap;
    padding: 1.5rem;
    margin-bottom: 2rem;
  }
}

.title-card {
  height: 3rem;
  font-size: 1rem;
  text-transform: uppercase;
  text-align: center;
  width: 100%;
}

.control {
  padding: 1.5rem;
  display: flex;
  font-size: 1.6rem;
  width: 100%;
  cursor: auto;
}

.control label {
  margin-left: 2rem;
  width: 50%;

  @include m.respond(tab-port) {
    width: 100%;
  }
}

.control select {
  border: 1px solid white;
  padding: 0.5rem;
  color: white;
  border-radius: 1rem;
  margin-right: 3rem;
  text-align: center;
}