@use '../abstract/variables' as v;
@use '../abstract/mixins' as m;

.header{
  display: flex;
  box-shadow: 4px 4px 4px rgba($color: #000000, $alpha: 0.6);
  align-self: flex-end;
  width: 75%;

  @include m.respond(tab-port){
    width: 100%;
  }
}