@use '../abstract/mixins' as m;

.right-layout {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 1rem;
  border-radius: 1rem;
  padding: 0rem 2rem ;
}

.content-home {
  display: flex;
  height: 100vh;
  padding: 1rem 2rem ;
  overflow-y:auto ;
}

.content-buttons {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-items: center;
  overflow-y:auto ;
  height: 80rem;
  width: 70%;
  margin: 0rem 35rem;
  

  @include m.respond(tab-land){
    grid-template-columns: repeat(2, 1fr);
    row-gap: 1rem;
    width: 100%;
    margin: 0 3rem;
  }

  @include m.respond(phone){
    grid-template-columns: repeat(1, 1fr);
    width: 100%;
    margin: 0 0rem;
  }
}