@use '../abstract/mixins' as m;

.right-layout {
  border-radius: 1rem;
  display: flex;
  flex-direction: column;
  padding: 0rem 2rem ;
  width: 100%;
}

.content-home {
  display: flex;
  height: 100vh;
  overflow-y:auto ;
  padding: 1rem 2rem ;
}

.content-buttons {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-items: center;
  margin: 0rem 3rem;
  overflow-y:auto ;
  row-gap: 2rem;
  width: 100%;
  padding: 4rem;
  

  @include m.respond(tab-land){
    grid-template-columns: repeat(2, 1fr);
    margin: 0 2rem;
    width: 100%;
  }

  @include m.respond(phone){
    grid-template-columns: repeat(1, 1fr);
    margin: 0 0rem;
    width: 100%;
  }
}