@use '../abstract/mixins' as m;

.modal-show-fadeout {
  opacity: 1;
  visibility: visible;
  transition-duration: 0.5s;
}

.modal-show-toUp {
  animation: slideUp 0.3s ease-in-out;
}

.modal-show-toDown {
  animation: slideDown 0.3s ease-in-out;
}

.modal-show-toRight {
  animation: slideRight 0.3s ease-in-out;
}

.modal-show-toLeft {
  animation: slideLeft 0.3s ease-in-out;
}

.modal-show-jumpToUp {
  animation: modalAnimationUp 0.8s cubic-bezier(0.42, 0, 0.58, 5);
}

.modal-show-jumpToDown {
  animation: modalAnimationDown 1s cubic-bezier(0.42, 0, 0.58, 5);
}

.modal-show-jumpToRight {
  animation: modalAnimationRight 1s cubic-bezier(0.42, 0, 0.58, 5);

}

.modal-show-jumpToLeft {
  animation: modalAnimationLeft 1s cubic-bezier(0.42, 0, 0.58, 5);
}


@keyframes modalAnimationUp {
  0% {
    transform: translateY(50%);
  }

  50% {
    transform: translateY(20px);
  }
  100% {
    transform: translateY(0);
  }
}

@keyframes modalAnimationDown {
  0% {
    transform: translateY(-50%);
  }

  50% {
    transform: translateY(-20px);
  }

  100% {
    transform: translateY(0);
  }
}

@keyframes modalAnimationRight {
  0% {
    transform: translateX(-50%);
  }

  50% {
    transform: translateX(-20px);
  }

  100% {
    transform: translateX(0);
  }
}

@keyframes modalAnimationLeft {
  0% {
    transform: translateX(50%);
  }

  50% {
    transform: translateX(20px);
  }

  100% {
    transform: translateX(0);
  }
}

@keyframes slideUp {
  from {
    transform: translateY(100%);
  }
  to {
    transform: translateY(0);
  }
}

@keyframes slideDown {
  from {
    transform: translateY(-100%);
  }
  to {
    transform: translateY(0);
  }
}

@keyframes slideRight {
  from {
    transform: translateX(-100%);
  }
  to {
    transform: translateX(0);
  }
}

@keyframes slideLeft {
  from {
    transform: translateX(100%);
  }
  to {
    transform: translateX(0);
  }
}
