@use "../abstract/variables/globalVariables" as Gv;
@use "../abstract/mixins/globalMixins" as Gm;
@import url("https://fonts.googleapis.com/css2?family=Fira+Code:wght@300..700&display=swap");

li {
  list-style: none;
}

a {
  text-decoration: none;
}

button,
input[type="submit"] {
  background: none;
  border: none;
  outline: none;
  cursor: pointer;
}

select {
  appearance: none;
  background-color: transparent;
  border: none;
  margin: 0;
  width: 100%;
  font-family: inherit;
  cursor: pointer;
  text-transform: uppercase;
}

pre {
  margin: 0 auto;
  font-size: 1.2rem !important;
  padding: 2.4rem 2rem 2.4rem !important;
  @include Gm.responsive(tab-port) {
    font-size: 1.5rem !important;
  }
  @include Gm.responsive(tab-land) {
    font-size: 1.8rem !important;
  }
}

section {
  display: flex;
  flex-direction: column;
  gap: 3rem;
  width: 100%;
}