@use "../abstract/variables/globalVariables" as Gv;
@use "../abstract/mixins/globalMixins" as Gm;

li {
  list-style: none;
}

a {
  text-decoration: none;
}

button,
input[type="submit"] {
  background: none;
  border: none;
  outline: none;
  cursor: pointer;
}

select {
  appearance: none;
  background-color: transparent;
  border: none;
  margin: 0;
  width: 100%;
  font-family: inherit;
  cursor: pointer;
  text-transform: uppercase;
}

pre {
  margin: 0 auto;
  font-size: 1.2rem !important;
  padding: 2.4rem 2rem 2.4rem !important;
  @include Gm.responsive(tab-port) {
    font-size: 1.5rem !important;
  }
  @include Gm.responsive(tab-land) {
    font-size: 1.8rem !important;
  }
}

section {
  display: flex;
  flex-direction: column;
  gap: 3rem;
  width: 100%;
}

h1 {
  font-size: 3.5rem;
  text-align: center;
  text-transform: uppercase;
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  letter-spacing: 2px;
  background-image: linear-gradient(
    to right,
    Gv.$color-white-200,
    Gv.$color-purple-600
  );
}

h2 {
  font-size: 3rem;
  text-transform: uppercase;
}

h3 {
  font-size: 2rem;
  display: inline-block;
  text-transform: capitalize;
  @include Gm.responsive(tab-port) {
    font-size: 2.4rem;
  }
}

h4 {
  font-size: 1.8rem;
  display: inline-block;
  text-transform: capitalize;
  @include Gm.responsive(tab-port) {
    font-size: 2.2rem;
  }
}

p,
li {
  font-size: 1.4rem;
  line-height: 2rem;
  @include Gm.responsive(tab-port) {
    line-height: 2.5rem;
  }
  @include Gm.responsive(tab-land) {
    font-size: 1.8rem;
  }
}

article {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

ul {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}
