.show-alert-left_lui_31032024_DIA_ {
  animation: showToRight 0.2s ease;
}
@media (min-width: 600px) {
  .show-alert-left_lui_31032024_DIA_ {
    animation: showToRight 0.3s ease;
  }
}

.show-alert-right_lui_31032024_DIA_ {
  animation: showToLeft 0.2s ease;
}
@media (min-width: 900px) {
  .show-alert-right_lui_31032024_DIA_ {
    animation: showToLeft 0.3s ease;
  }
}

.hide-alert-right_lui_31032024_DIA_ {
  animation: hideRight 0.2s ease-out;
}
@media (min-width: 600px) {
  .hide-alert-right_lui_31032024_DIA_ {
    animation: hideRight 0.3s ease-out;
  }
}

.hide-alert-left_lui_31032024_DIA_ {
  animation: hideToLeft 0.2s ease-out;
}
@media (min-width: 600px) {
  .hide-alert-left_lui_31032024_DIA_ {
    animation: hideToLeft 0.3s ease-out;
  }
}

@keyframes hideRight {
  50% {
    transform: translateX(-50%);
  }
  100% {
    transform: translateX(100%);
  }
}
@keyframes hideToLeft {
  50% {
    transform: translateX(50%);
  }
  100% {
    transform: translateX(-100%);
  }
}
@keyframes showToRight {
  0% {
    transform: translateX(-50%);
  }
  50% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(0);
  }
}
@keyframes showToLeft {
  0% {
    transform: translateX(50%);
  }
  50% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(0);
  }
}
.alert_lui_31032024_DIA_ {
  color: #f5f5f5;
  padding: 8px;
  border-radius: 15px;
  box-sizing: border-box;
  position: fixed;
  z-index: 999997;
  width: fit-content;
  letter-spacing: 1px;
}
.alert_lui_31032024_DIA___left {
  left: 5%;
}
@media (min-width: 600px) {
  .alert_lui_31032024_DIA___left {
    left: 2%;
  }
}
.alert_lui_31032024_DIA___right {
  right: 4%;
}
@media (min-width: 600px) {
  .alert_lui_31032024_DIA___right {
    right: 2%;
  }
}
.alert_lui_31032024_DIA___up {
  top: 12%;
}
.alert_lui_31032024_DIA___down {
  bottom: 10%;
}
.alert_lui_31032024_DIA___success {
  background-color: rgba(109, 188, 13, 0.65);
}
.alert_lui_31032024_DIA___info {
  background-color: rgba(0, 61, 254, 0.65);
}
.alert_lui_31032024_DIA___warning {
  background-color: rgba(189, 188, 13, 0.65);
}
.alert_lui_31032024_DIA___error {
  background-color: rgba(180, 19, 0, 0.65);
}
.alert_lui_31032024_DIA___message {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-weight: 700;
  font-size: 10px;
}
@media (min-width: 600px) {
  .alert_lui_31032024_DIA___message {
    font-size: 12px;
  }
}
