@use '../../abstract/variables/globalVariables' as Gv;

.list-item {
  align-items: center;
  border-radius: 8px;
  color: Gv.$color-white-200;
  cursor: grab;
  display: flex;
  font-size: 16px;
  gap: 8px;

  &:nth-child(odd) {
    background-color: Gv.$color-blue-100;
  }

  &:nth-child(even) {
    background-color: Gv.$color-blue-300;
  }
}

.list-item>span {
  font-size: 16px;
  font-weight: bold;
  border-right: 1px solid Gv.$color-gray-100;
  padding: 6px;
  margin-left: 15px;
  padding-right: 20px;
}

.next-position:nth-child(odd),
.next-position:nth-child(even) {
  transition: all .3s ease-in-out;
  background-color: Gv.$color-red-500;
}