@use '../../abstract/mixins/globalMixins' as Gm;
@use '../../abstract/variables/globalVariables' as Gv;
@forward '../../animations/modal';

.modal {
  align-items: center;
  backdrop-filter: blur(4px);
  background-color: Gv.$color-black-200;
  display: flex;
  height: 100vh;
  flex-direction: column;
  justify-content: center;
  position: fixed;
  right: 0;
  top: 0;
  transition: opacity 0.3s, visibility 0.3s, transform 0.3s;
  width: 100%;
  z-index: 999998;

  &__container {
    position: relative;
    padding: 1.2rem;
    border-radius: .5rem;
    display: flex;
    flex-direction: column;
    gap: 5px;
    min-width: 90%;

    @include Gm.respond(phone) {
      border-radius: 1.2rem;
      min-width: 80%;
    }

    @include Gm.respond(tab-port) {
      min-width: 50%;
    }
  }

  &__close {
    align-self: flex-end;
    background-color: white;
    color: Gv.$color-red-600;
    padding: 4px;
    border: 1px solid white;
    border-radius: 50%;
    font-weight: 900;
    transition: color, transform .5s ease;
    box-shadow: 5px 3px 5px Gv.$color-black-200;
    width: 35px;
    height: 35px;
    display: flex;
    align-items: center;
    justify-content: center;

    @include Gm.respond(tab-port) {
      background-color: transparent;
      color: white;
      cursor: pointer;

      &:hover {
        background-color: white;
        color: Gv.$color-red-600
      }
    }

  }

  &__content {
    border-radius: .5rem;
    background: linear-gradient(135deg, Gv.$color-black-100 0%, Gv.$color-black-400 100%);
    box-shadow: 2px 2px 5px Gv.$color-black-200;
    display: flex;
    flex-direction: column;
    padding: 1rem;
    align-items: center;
    border: 1px solid inherit;

    @include Gm.respond(tab-port) {
      border-radius: 1.2rem;
      padding: 2rem;
    }

    >*:not(:nth-child(1)) {
      margin-bottom: 1rem;

      @include Gm.respond(tab-port) {
        margin-bottom: 2rem;
      }
    }

    &--cont-img {
      align-self: flex-start;
    }

    &--img {
      display: flex;
      width: 80%;
      height: 80%;

      @include Gm.respond(tab-port) {
        width: 90%;
        height: 90%;
      }
    }

    &--title {
      font-size: 10px;
      text-transform: uppercase;
      color: Gv.$color-white-200;

      @include Gm.respond(phone) {
        font-size: 26px;
      }

      @include Gm.respond(tab-port) {
        font-size: 28px;
      }
    }

    &--description {
      color: Gv.$color-white-100;
      font-size: 12px;

      @include Gm.respond(phone) {
        font-size: 18px;
      }

      @include Gm.respond(tab-port) {
        font-size: 24px;
      }
    }
  }

  &__buttons {
    display: flex;
    flex-direction: column;
    gap: 8px;
    width: 90%;
    flex: 1;

    @include Gm.respond(tab-port) {
      gap: 10px;
      flex-direction: row;
    }

  }

  &__success {
    background: linear-gradient(135deg, Gv.$color-green-200 0%, Gv.$color-green-300 100%);

  }

  &__warning {
    background: linear-gradient(135deg, Gv.$color-yellow-200 0%, Gv.$color-yellow-300 100%);
  }

  &__error {
    background: linear-gradient(135deg, Gv.$color-red-200 0%, Gv.$color-red-300 100%);
  }

  &__info {
    background: linear-gradient(135deg, Gv.$color-blue-200 0%, Gv.$color-blue-200 100%);

  }
}