@media (min-width: 900px) {
  .beat {
    transition: transform 0.3s ease;
  }
  .beat:hover {
    transform: translateY(-3px);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
  }
  .beat:hover::after {
    transform: scaleX(1.4) scaleY(1.6);
    opacity: 0;
  }
  .beat:active, .beat:focus {
    outline: none;
  }
  .beat::after {
    content: "";
    height: 100%;
    width: 100%;
    border-radius: 100px;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    transition: all 0.3s ease-in-out;
    background-color: inherit;
  }
}
