.btn__blue-100 {
  color: #f5f5f5;
  background-color: rgba(0, 61, 254, 0.3);
  border: 1px solid rgba(0, 61, 254, 0.3);
}
.btn__blue-100:active {
  box-shadow: 4px 4px 3px rgba(0, 0, 0, 0.3) inset;
}
.btn__blue-100, .btn__blue-100:link, .btn__blue-100:visited {
  letter-spacing: 0.5px;
}
@media (min-width: 900px) {
  .btn__blue-100:hover {
    background-color: #003dfe;
    color: white;
    border: 1px solid rgba(0, 61, 254, 0.3);
  }
}
.btn__blue-200 {
  color: #f5f5f5;
  background-color: rgba(0, 61, 254, 0.65);
  border: 1px solid rgba(0, 61, 254, 0.65);
}
.btn__blue-200:active {
  box-shadow: 4px 4px 3px rgba(0, 0, 0, 0.3) inset;
}
.btn__blue-200, .btn__blue-200:link, .btn__blue-200:visited {
  letter-spacing: 0.5px;
}
@media (min-width: 900px) {
  .btn__blue-200:hover {
    background-color: #003dfe;
    color: white;
    border: 1px solid rgba(0, 61, 254, 0.65);
  }
}
.btn__blue-300 {
  color: #f5f5f5;
  background-color: rgba(0, 61, 254, 0.8);
  border: 1px solid rgba(0, 61, 254, 0.8);
}
.btn__blue-300:active {
  box-shadow: 4px 4px 3px rgba(0, 0, 0, 0.3) inset;
}
.btn__blue-300, .btn__blue-300:link, .btn__blue-300:visited {
  letter-spacing: 0.5px;
}
@media (min-width: 900px) {
  .btn__blue-300:hover {
    background-color: #003dfe;
    color: white;
    border: 1px solid rgba(0, 61, 254, 0.8);
  }
}
.btn__green-100 {
  color: #f5f5f5;
  background-color: rgba(109, 188, 13, 0.3);
  border: 1px solid rgba(109, 188, 13, 0.3);
}
.btn__green-100:active {
  box-shadow: 4px 4px 3px rgba(0, 0, 0, 0.3) inset;
}
.btn__green-100, .btn__green-100:link, .btn__green-100:visited {
  letter-spacing: 0.5px;
}
@media (min-width: 900px) {
  .btn__green-100:hover {
    background-color: #6dbc0d;
    color: white;
    border: 1px solid rgba(109, 188, 13, 0.3);
  }
}
.btn__green-200 {
  color: #f5f5f5;
  background-color: rgba(109, 188, 13, 0.65);
  border: 1px solid rgba(109, 188, 13, 0.65);
}
.btn__green-200:active {
  box-shadow: 4px 4px 3px rgba(0, 0, 0, 0.3) inset;
}
.btn__green-200, .btn__green-200:link, .btn__green-200:visited {
  letter-spacing: 0.5px;
}
@media (min-width: 900px) {
  .btn__green-200:hover {
    background-color: #6dbc0d;
    color: white;
    border: 1px solid rgba(109, 188, 13, 0.65);
  }
}
.btn__green-300 {
  color: #f5f5f5;
  background-color: rgba(109, 188, 13, 0.8);
  border: 1px solid rgba(109, 188, 13, 0.8);
}
.btn__green-300:active {
  box-shadow: 4px 4px 3px rgba(0, 0, 0, 0.3) inset;
}
.btn__green-300, .btn__green-300:link, .btn__green-300:visited {
  letter-spacing: 0.5px;
}
@media (min-width: 900px) {
  .btn__green-300:hover {
    background-color: #6dbc0d;
    color: white;
    border: 1px solid rgba(109, 188, 13, 0.8);
  }
}
.btn__red-100 {
  color: #f5f5f5;
  background-color: rgba(180, 19, 0, 0.3);
  border: 1px solid rgba(180, 19, 0, 0.3);
}
.btn__red-100:active {
  box-shadow: 4px 4px 3px rgba(0, 0, 0, 0.3) inset;
}
.btn__red-100, .btn__red-100:link, .btn__red-100:visited {
  letter-spacing: 0.5px;
}
@media (min-width: 900px) {
  .btn__red-100:hover {
    background-color: #b41300;
    color: white;
    border: 1px solid rgba(180, 19, 0, 0.3);
  }
}
.btn__red-200 {
  color: #f5f5f5;
  background-color: rgba(180, 19, 0, 0.65);
  border: 1px solid rgba(180, 19, 0, 0.65);
}
.btn__red-200:active {
  box-shadow: 4px 4px 3px rgba(0, 0, 0, 0.3) inset;
}
.btn__red-200, .btn__red-200:link, .btn__red-200:visited {
  letter-spacing: 0.5px;
}
@media (min-width: 900px) {
  .btn__red-200:hover {
    background-color: #b41300;
    color: white;
    border: 1px solid rgba(180, 19, 0, 0.65);
  }
}
.btn__red-300 {
  color: #f5f5f5;
  background-color: rgba(180, 19, 0, 0.8);
  border: 1px solid rgba(180, 19, 0, 0.8);
}
.btn__red-300:active {
  box-shadow: 4px 4px 3px rgba(0, 0, 0, 0.3) inset;
}
.btn__red-300, .btn__red-300:link, .btn__red-300:visited {
  letter-spacing: 0.5px;
}
@media (min-width: 900px) {
  .btn__red-300:hover {
    background-color: #b41300;
    color: white;
    border: 1px solid rgba(180, 19, 0, 0.8);
  }
}
.btn__pink-100 {
  color: #f5f5f5;
  background-color: rgba(254, 61, 254, 0.3);
  border: 1px solid rgba(254, 61, 254, 0.3);
}
.btn__pink-100:active {
  box-shadow: 4px 4px 3px rgba(0, 0, 0, 0.3) inset;
}
.btn__pink-100, .btn__pink-100:link, .btn__pink-100:visited {
  letter-spacing: 0.5px;
}
@media (min-width: 900px) {
  .btn__pink-100:hover {
    background-color: #fe3dfe;
    color: white;
    border: 1px solid rgba(254, 61, 254, 0.3);
  }
}
.btn__pink-200 {
  color: #f5f5f5;
  background-color: rgba(254, 61, 254, 0.65);
  border: 1px solid rgba(254, 61, 254, 0.65);
}
.btn__pink-200:active {
  box-shadow: 4px 4px 3px rgba(0, 0, 0, 0.3) inset;
}
.btn__pink-200, .btn__pink-200:link, .btn__pink-200:visited {
  letter-spacing: 0.5px;
}
@media (min-width: 900px) {
  .btn__pink-200:hover {
    background-color: #fe3dfe;
    color: white;
    border: 1px solid rgba(254, 61, 254, 0.65);
  }
}
.btn__pink-300 {
  color: #f5f5f5;
  background-color: rgba(254, 61, 254, 0.8);
  border: 1px solid rgba(254, 61, 254, 0.8);
}
.btn__pink-300:active {
  box-shadow: 4px 4px 3px rgba(0, 0, 0, 0.3) inset;
}
.btn__pink-300, .btn__pink-300:link, .btn__pink-300:visited {
  letter-spacing: 0.5px;
}
@media (min-width: 900px) {
  .btn__pink-300:hover {
    background-color: #fe3dfe;
    color: white;
    border: 1px solid rgba(254, 61, 254, 0.8);
  }
}
.btn__yellow-100 {
  color: #f5f5f5;
  background-color: rgba(189, 188, 13, 0.3);
  border: 1px solid rgba(189, 188, 13, 0.3);
}
.btn__yellow-100:active {
  box-shadow: 4px 4px 3px rgba(0, 0, 0, 0.3) inset;
}
.btn__yellow-100, .btn__yellow-100:link, .btn__yellow-100:visited {
  letter-spacing: 0.5px;
}
@media (min-width: 900px) {
  .btn__yellow-100:hover {
    background-color: #bdbc0d;
    color: white;
    border: 1px solid rgba(189, 188, 13, 0.3);
  }
}
.btn__yellow-200 {
  color: #f5f5f5;
  background-color: rgba(189, 188, 13, 0.65);
  border: 1px solid rgba(189, 188, 13, 0.65);
}
.btn__yellow-200:active {
  box-shadow: 4px 4px 3px rgba(0, 0, 0, 0.3) inset;
}
.btn__yellow-200, .btn__yellow-200:link, .btn__yellow-200:visited {
  letter-spacing: 0.5px;
}
@media (min-width: 900px) {
  .btn__yellow-200:hover {
    background-color: #bdbc0d;
    color: white;
    border: 1px solid rgba(189, 188, 13, 0.65);
  }
}
.btn__yellow-300 {
  color: #f5f5f5;
  background-color: rgba(189, 188, 13, 0.8);
  border: 1px solid rgba(189, 188, 13, 0.8);
}
.btn__yellow-300:active {
  box-shadow: 4px 4px 3px rgba(0, 0, 0, 0.3) inset;
}
.btn__yellow-300, .btn__yellow-300:link, .btn__yellow-300:visited {
  letter-spacing: 0.5px;
}
@media (min-width: 900px) {
  .btn__yellow-300:hover {
    background-color: #bdbc0d;
    color: white;
    border: 1px solid rgba(189, 188, 13, 0.8);
  }
}
.btn__purple-100 {
  color: #f5f5f5;
  background-color: rgba(75, 54, 212, 0.3);
  border: 1px solid rgba(75, 54, 212, 0.3);
}
.btn__purple-100:active {
  box-shadow: 4px 4px 3px rgba(0, 0, 0, 0.3) inset;
}
.btn__purple-100, .btn__purple-100:link, .btn__purple-100:visited {
  letter-spacing: 0.5px;
}
@media (min-width: 900px) {
  .btn__purple-100:hover {
    background-color: #4b36d4;
    color: white;
    border: 1px solid rgba(75, 54, 212, 0.3);
  }
}
.btn__purple-200 {
  color: #f5f5f5;
  background-color: rgba(75, 54, 212, 0.65);
  border: 1px solid rgba(75, 54, 212, 0.65);
}
.btn__purple-200:active {
  box-shadow: 4px 4px 3px rgba(0, 0, 0, 0.3) inset;
}
.btn__purple-200, .btn__purple-200:link, .btn__purple-200:visited {
  letter-spacing: 0.5px;
}
@media (min-width: 900px) {
  .btn__purple-200:hover {
    background-color: #4b36d4;
    color: white;
    border: 1px solid rgba(75, 54, 212, 0.65);
  }
}
.btn__purple-300 {
  color: #f5f5f5;
  background-color: rgba(75, 54, 212, 0.8);
  border: 1px solid rgba(75, 54, 212, 0.8);
}
.btn__purple-300:active {
  box-shadow: 4px 4px 3px rgba(0, 0, 0, 0.3) inset;
}
.btn__purple-300, .btn__purple-300:link, .btn__purple-300:visited {
  letter-spacing: 0.5px;
}
@media (min-width: 900px) {
  .btn__purple-300:hover {
    background-color: #4b36d4;
    color: white;
    border: 1px solid rgba(75, 54, 212, 0.8);
  }
}
.btn__orange-100 {
  color: #f5f5f5;
  background-color: rgba(255, 94, 0, 0.45);
  border: 1px solid rgba(255, 94, 0, 0.45);
}
.btn__orange-100:active {
  box-shadow: 4px 4px 3px rgba(0, 0, 0, 0.3) inset;
}
.btn__orange-100, .btn__orange-100:link, .btn__orange-100:visited {
  letter-spacing: 0.5px;
}
@media (min-width: 900px) {
  .btn__orange-100:hover {
    background-color: #ff5e00;
    color: white;
    border: 1px solid rgba(255, 94, 0, 0.45);
  }
}
.btn__orange-200 {
  color: #f5f5f5;
  background-color: rgba(255, 94, 0, 0.7);
  border: 1px solid rgba(255, 94, 0, 0.7);
}
.btn__orange-200:active {
  box-shadow: 4px 4px 3px rgba(0, 0, 0, 0.3) inset;
}
.btn__orange-200, .btn__orange-200:link, .btn__orange-200:visited {
  letter-spacing: 0.5px;
}
@media (min-width: 900px) {
  .btn__orange-200:hover {
    background-color: #ff5e00;
    color: white;
    border: 1px solid rgba(255, 94, 0, 0.7);
  }
}
.btn__orange-300 {
  color: #f5f5f5;
  background-color: rgba(255, 94, 0, 0.8);
  border: 1px solid rgba(255, 94, 0, 0.8);
}
.btn__orange-300:active {
  box-shadow: 4px 4px 3px rgba(0, 0, 0, 0.3) inset;
}
.btn__orange-300, .btn__orange-300:link, .btn__orange-300:visited {
  letter-spacing: 0.5px;
}
@media (min-width: 900px) {
  .btn__orange-300:hover {
    background-color: #ff5e00;
    color: white;
    border: 1px solid rgba(255, 94, 0, 0.8);
  }
}
.btn__outlined-blue {
  background-color: transparent;
  border: 1px solid rgba(0, 61, 254, 0.15);
  color: rgba(0, 61, 254, 0.15);
}
@media (min-width: 900px) {
  .btn__outlined-blue:hover {
    background-color: #003dfe;
    color: white;
    border: 1px solid rgba(0, 61, 254, 0.15);
  }
}
.btn__outlined-green {
  background-color: transparent;
  border: 1px solid rgba(109, 188, 13, 0.15);
  color: rgba(109, 188, 13, 0.15);
}
@media (min-width: 900px) {
  .btn__outlined-green:hover {
    background-color: #6dbc0d;
    color: white;
    border: 1px solid rgba(109, 188, 13, 0.15);
  }
}
.btn__gray-100 {
  color: #f5f5f5;
  background-color: rgba(70, 68, 68, 0.125);
  border: 1px solid rgba(70, 68, 68, 0.125);
}
.btn__gray-100:active {
  box-shadow: 4px 4px 3px rgba(0, 0, 0, 0.3) inset;
}
.btn__gray-100, .btn__gray-100:link, .btn__gray-100:visited {
  letter-spacing: 0.5px;
}
@media (min-width: 900px) {
  .btn__gray-100:hover {
    background-color: #464444;
    color: white;
    border: 1px solid rgba(70, 68, 68, 0.125);
  }
}
.btn__gray-200 {
  color: #f5f5f5;
  background-color: rgba(70, 68, 68, 0.361);
  border: 1px solid rgba(70, 68, 68, 0.361);
}
.btn__gray-200:active {
  box-shadow: 4px 4px 3px rgba(0, 0, 0, 0.3) inset;
}
.btn__gray-200, .btn__gray-200:link, .btn__gray-200:visited {
  letter-spacing: 0.5px;
}
@media (min-width: 900px) {
  .btn__gray-200:hover {
    background-color: #464444;
    color: white;
    border: 1px solid rgba(70, 68, 68, 0.361);
  }
}
.btn__gray-300 {
  color: #f5f5f5;
  background-color: rgba(70, 68, 68, 0.635);
  border: 1px solid rgba(70, 68, 68, 0.635);
}
.btn__gray-300:active {
  box-shadow: 4px 4px 3px rgba(0, 0, 0, 0.3) inset;
}
.btn__gray-300, .btn__gray-300:link, .btn__gray-300:visited {
  letter-spacing: 0.5px;
}
@media (min-width: 900px) {
  .btn__gray-300:hover {
    background-color: #464444;
    color: white;
    border: 1px solid rgba(70, 68, 68, 0.635);
  }
}
.btn__black-100 {
  color: #f5f5f5;
  background-color: rgba(0, 0, 0, 0.231);
  border: 1px solid rgba(0, 0, 0, 0.231);
}
.btn__black-100:active {
  box-shadow: 4px 4px 3px rgba(0, 0, 0, 0.3) inset;
}
.btn__black-100, .btn__black-100:link, .btn__black-100:visited {
  letter-spacing: 0.5px;
}
@media (min-width: 900px) {
  .btn__black-100:hover {
    background-color: black;
    color: white;
    border: 1px solid rgba(0, 0, 0, 0.231);
  }
}
.btn__black-200 {
  color: #f5f5f5;
  background-color: rgba(0, 0, 0, 0.42);
  border: 1px solid rgba(0, 0, 0, 0.42);
}
.btn__black-200:active {
  box-shadow: 4px 4px 3px rgba(0, 0, 0, 0.3) inset;
}
.btn__black-200, .btn__black-200:link, .btn__black-200:visited {
  letter-spacing: 0.5px;
}
@media (min-width: 900px) {
  .btn__black-200:hover {
    background-color: black;
    color: white;
    border: 1px solid rgba(0, 0, 0, 0.42);
  }
}
.btn__black-300 {
  color: #f5f5f5;
  background-color: rgba(0, 0, 0, 0.502);
  border: 1px solid rgba(0, 0, 0, 0.502);
}
.btn__black-300:active {
  box-shadow: 4px 4px 3px rgba(0, 0, 0, 0.3) inset;
}
.btn__black-300, .btn__black-300:link, .btn__black-300:visited {
  letter-spacing: 0.5px;
}
@media (min-width: 900px) {
  .btn__black-300:hover {
    background-color: black;
    color: white;
    border: 1px solid rgba(0, 0, 0, 0.502);
  }
}
.btn__white-100 {
  color: #f5f5f5;
  background-color: #f5f5f5;
  border: 1px solid #f5f5f5;
  color: rgba(0, 0, 0, 0.7);
}
.btn__white-100:active {
  box-shadow: 4px 4px 3px rgba(0, 0, 0, 0.3) inset;
}
.btn__white-100, .btn__white-100:link, .btn__white-100:visited {
  letter-spacing: 0.5px;
}
@media (min-width: 900px) {
  .btn__white-100:hover {
    background-color: whitesmoke;
    color: white;
    border: 1px solid #f5f5f5;
    color: rgba(0, 0, 0, 0.502);
  }
}
.btn__outline-red {
  background-color: transparent;
  border: 1px solid rgba(180, 19, 0, 0.8);
  color: rgba(180, 19, 0, 0.8);
}
@media (min-width: 900px) {
  .btn__outline-red:hover {
    background-color: #b41300;
    color: white;
    border: 1px solid rgba(180, 19, 0, 0.8);
  }
}
.btn__outline-blue {
  background-color: transparent;
  border: 1px solid rgba(0, 61, 254, 0.3);
  color: rgba(0, 61, 254, 0.3);
}
@media (min-width: 900px) {
  .btn__outline-blue:hover {
    background-color: #003dfe;
    color: white;
    border: 1px solid rgba(0, 61, 254, 0.3);
  }
}
.btn__outline-green {
  background-color: transparent;
  border: 1px solid #6dbc0d;
  color: #6dbc0d;
}
@media (min-width: 900px) {
  .btn__outline-green:hover {
    background-color: #6dbc0d;
    color: white;
    border: 1px solid #6dbc0d;
  }
}
.btn__outline-black {
  background-color: transparent;
  border: 1px solid black;
  color: black;
}
@media (min-width: 900px) {
  .btn__outline-black:hover {
    background-color: black;
    color: white;
    border: 1px solid black;
  }
}
.btn__outline-pink {
  background-color: transparent;
  border: 1px solid rgba(254, 61, 254, 0.65);
  color: rgba(254, 61, 254, 0.65);
}
@media (min-width: 900px) {
  .btn__outline-pink:hover {
    background-color: #fe3dfe;
    color: white;
    border: 1px solid rgba(254, 61, 254, 0.65);
  }
}
.btn__outline-yellow {
  background-color: transparent;
  border: 1px solid #bdbc0d;
  color: #bdbc0d;
}
@media (min-width: 900px) {
  .btn__outline-yellow:hover {
    background-color: #bdbc0d;
    color: white;
    border: 1px solid #bdbc0d;
  }
}
.btn__outline-purple {
  background-color: transparent;
  border: 1px solid rgba(75, 54, 212, 0.65);
  color: rgba(75, 54, 212, 0.65);
}
@media (min-width: 900px) {
  .btn__outline-purple:hover {
    background-color: #4b36d4;
    color: white;
    border: 1px solid rgba(75, 54, 212, 0.65);
  }
}
.btn__outline-gray {
  background-color: transparent;
  border: 1px solid rgba(70, 68, 68, 0.635);
  color: rgba(70, 68, 68, 0.635);
}
@media (min-width: 900px) {
  .btn__outline-gray:hover {
    background-color: #464444;
    color: white;
    border: 1px solid rgba(70, 68, 68, 0.635);
  }
}
.btn__outline-white {
  background-color: transparent;
  border: 1px solid rgba(70, 68, 68, 0.361);
  color: rgba(70, 68, 68, 0.361);
  color: inherit;
}
@media (min-width: 900px) {
  .btn__outline-white:hover {
    background-color: #464444;
    color: white;
    border: 1px solid rgba(70, 68, 68, 0.361);
  }
}

.r-0 {
  border-radius: 0;
}

.r-1 {
  border-radius: 4px;
}

.r-2 {
  border-radius: 6px;
}

.r-3 {
  border-radius: 8px;
}

.r-4 {
  border-radius: 12px;
}

.r-5 {
  border-radius: 16px;
}

.r-100 {
  border-radius: 50%;
}

.sm-100 {
  padding: 6px 20px;
  font-size: 10px;
  width: fit-content;
}

.sm-200 {
  padding: 6px 20px;
  font-size: 14px;
  width: fit-content;
}

.sm-300 {
  padding: 6px 20px;
  font-size: 20px;
  width: fit-content;
}

.md-100 {
  padding: 6px 30px;
  font-size: 20px;
  width: fit-content;
}

.md-200 {
  padding: 6px 35px;
  font-size: 24px;
  width: fit-content;
}

.md-300 {
  padding: 6px 40px;
  font-size: 28px;
  width: fit-content;
}

.lg-100 {
  padding: 6px 45px;
  font-size: 32px;
  width: fit-content;
}

.lg-200 {
  padding: 6px 50px;
  font-size: 34px;
  width: fit-content;
}

.lg-300 {
  padding: 6px 55px;
  font-size: 36px;
  width: fit-content;
}

.btn.vw-25 {
  width: 25%;
  padding: 6px 20px;
  font-size: 16px;
}

.vw-50 {
  padding: 6px 20px;
  font-size: 16px;
  width: 50%;
}

.vw-75 {
  padding: 6px 20px;
  font-size: 16px;
  width: 75%;
}

.vw-100 {
  padding: 6px 20px;
  font-size: 16px;
  width: 100%;
}

.btn {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  transition: all 0.1s ease-in-out;
  box-shadow: 3px 3px 2px rgba(0, 0, 0, 0.3);
  font-weight: 700;
  flex-direction: row;
  cursor: pointer;
}

.animated {
  animation: moveInBottom 0.2s ease-out 0.5s backwards;
}

.ico {
  display: flex;
  align-items: center;
  right: 1%;
  position: absolute;
  flex-direction: row;
}

.disabled {
  background-color: rgba(70, 68, 68, 0.125);
  color: inherit;
  cursor: not-allowed;
  border: 1px solid rgba(70, 68, 68, 0.361);
}
.disabled, .disabled:link, .disabled:visited {
  letter-spacing: 0.5px;
}

.uppercase {
  text-transform: uppercase;
}

.lowercase {
  text-transform: lowercase;
}

.capitalize {
  text-transform: capitalize;
}

@keyframes moveInBottom {
  0% {
    opacity: 0;
    transform: translateY(30px);
  }
  100% {
    opacity: 1;
    transform: translate(0);
  }
}
