@use "../../abstract/mixins/globalMixins" as Gm;
@use "../../abstract/variables/globalVariables" as Gv;
@forward "../../animations/alert";

.alert {
  color: Gv.$color-white-100;
  padding: 8px;
  border-radius: 15px;
  box-sizing: border-box;
  position: fixed;
  z-index: 999997;
  width: fit-content;
}

.left {
  left: 5%;
  @include Gm.responsive(tab-port){
    left: 2%;
  }
}

.right {
  right: 4%;
  @include Gm.responsive(tab-port){
    right: 2%;
  }
}
.up {
  top: 12%;
}

.down {
  bottom: 10%;
}
.success {
  background-color: Gv.$color-green-400;
}

.info {
  background-color: Gv.$color-blue-400;
}

.warning {
  background-color: Gv.$color-yellow-400;
}

.error {
  background-color: Gv.$color-red-400;
}

.message {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-weight: 700;
  font-size: 10px;

  @include Gm.responsive(tab-port) {
    font-size: 12px;
  }
}
