@use "../../abstract/mixins/globalMixins" as Gm;
@use "../../abstract/variables/globalVariables" as Gv;
@forward "../../animations/alert";

//@dialmonsalve
.alert_lui_31032024_DIA_ {
  color: Gv.$color-white-100;
  padding: 8px;
  border-radius: 15px;
  box-sizing: border-box;
  position: fixed;
  z-index: 999997;
  width: fit-content;
  letter-spacing: 1px;


  &__left {
    left: 5%;
    @include Gm.responsive(tab-port) {
      left: 2%;
    }
  }
    
  &__right {
    right: 4%;
    @include Gm.responsive(tab-port) {
      right: 2%;
    }
  }
  &__up {
    top: 12%;
  }
  
  &__down {
    bottom: 10%;
  }
  &__success {
    background-color: Gv.$color-green-400;
  }
  
  &__info {
    background-color: Gv.$color-blue-400;
  }
  
  &__warning {
    background-color: Gv.$color-yellow-400;
  }
  
  &__error {
    background-color: Gv.$color-red-400;
  }
  
  &__message {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-weight: 700;
    font-size: 10px;
  
    @include Gm.responsive(tab-port) {
      font-size: 12px;
    }
  }
}

