@use "../../abstract/variables/globalVariables" as Gv;
@use "../../abstract/mixins/globalMixins" as Gm;

.spinner {
  align-items: center;
  backdrop-filter: blur(4px);
  background-color: Gv.$color-black-200;
  display: flex;
  flex-direction: column;
  gap: 20px;
  height: 100vh;
  justify-content: center;
  position: fixed;
  right: 0;
  top: 0;
  transition: opacity 0.3s, visibility 0.3s, transform 0.3s;
  width: 100%;
  z-index: 999999;
  
  &__halfSpinner {
    box-sizing: border-box;
    padding: 35px;
    position: absolute;
    animation: left-right 1s linear infinite;
    width: 300px;
    height: 150px;
  }

  &__loading {
    font-size: 25px;
    color: Gv.$color-white-200;
    color: white;
    font-size: 20px;

  }

  @keyframes left-right {
    50% {
      transform: rotate(100deg);
    }

    100% {
      transform: rotate(0deg);
    }
  }

  &__lp {
    display: flex;
    flex-direction: column;
    position: relative;
    align-items: center;

    &-load {
      animation: lp 1.5s linear infinite;
    }
  }

  &__needle {
    position: absolute;
    right: 3%;
    z-index: 1;
  }

}

@keyframes lp {
  25% {
    transform: rotate(90deg);
  }

  50% {
    transform: rotate(180deg);
  }

  75% {
    transform: rotate(270deg);
  }

  100% {
    transform: rotate(360deg);
  }
}
