@use '../../../styles/abstract/variables/globalVariables' as Gv;
@use '../../../styles/abstract/mixins/globalMixins' as Gm;

.tags {

  background-color: Gv.$color-white-100;
  border: 1px solid Gv.$color-gray-200;
  border-radius: 6px;
  padding: 4px 4px 5px;
  overflow: auto;
  min-height: 34px;

  @include Gm.respond(phone) {
    padding: 4px 8px;
    overflow: none;
  }

  &__item {
    flex-grow: 0;
    display: flex;
    gap: 4px 8px;
    flex-wrap: wrap;
  }

  &__badge {
    background-color: Gv.$color-blue-400 ;
    border-radius: 8px;
    border: 1px solid Gv.$color-blue-600;
    color: Gv.$color-white-200;
    display: flex;
    font-size: 12px;
    gap: 4px;
    padding: 2px 8px;

    @include Gm.respond(tab-port) {
      font-size: 14px;
      cursor: pointer;

      &:hover,
      &:focus {
        background-color: Gv.$color-red-200;
        border-color: Gv.$color-red-300;
      }

      &:hover,
      >.remove-btn,
      &:focus>.remove-btn {
        color: Gv.$color-white-200;
      }

    }

  }

  &__remove {
    color: Gv.$color-red-400;
  }
}