$font-family: 'Nunito Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;

$color-white-100: #f5f5f5;
$color-white-200: white;

$color-gray-100: #46444420;
$color-gray-200: #4644445c;
$color-gray-300: #464444a2;
$color-gray-400: #464444;

$color-black-100: #0000003b;
$color-black-200: #0000006b;
$color-black-300: #00000080;
$color-black-400: black;

$color-blue-100: rgba(0, 59, 254, .15);
$color-blue-200: rgba(0, 59, 254, .3);
$color-blue-300: rgba(0, 59, 254, .4);
$color-blue-400: rgba(0, 59, 254, .65);
$color-blue-500: rgba(0, 59, 254, .8);
$color-blue-600: rgb(0, 61, 254);

$color-red-100: rgba(180, 19, 0, .15);
$color-red-200: rgba(180, 19, 0, .3);
$color-red-300: rgba(180, 19, 0, .40);
$color-red-400: rgba(180, 19, 0, .65);
$color-red-500: rgba(180, 19, 0, .8);
$color-red-600: rgb(180, 19, 0);

$color-pink-100: rgba(254, 59, 254, .15);
$color-pink-200: rgba(254, 59, 254, .3);
$color-pink-300: rgba(254, 59, 254, .40);
$color-pink-400: rgba(254, 59, 254, .65);
$color-pink-500: rgba(254, 59, 254, .8);
$color-pink-600: rgb(254, 61, 254);

$color-purple-100: rgba(75, 54, 212, .15);
$color-purple-200: rgba(75, 54, 212, .3);
$color-purple-300: rgba(75, 54, 212, .4);
$color-purple-400: rgba(75, 54, 212, .65);
$color-purple-500: rgba(75, 54, 212, .8);
$color-purple-600: rgba(75, 54, 212);

$color-yellow-100: rgba(189, 188, 13, .15);
$color-yellow-200: rgba(189, 188, 13, .3);
$color-yellow-300: rgba(189, 188, 13, .4);
$color-yellow-400: rgba(189, 188, 13, .65);
$color-yellow-500: rgba(189, 188, 13, .8);
$color-yellow-600: rgba(189, 188, 13);

$color-green-100: rgba(109, 188, 13, .15);
$color-green-200: rgba(109, 188, 13, .3);
$color-green-300: rgba(109, 188, 13, .4);
$color-green-400: rgba(109, 188, 13, .65);
$color-green-500: rgba(109, 188, 13, .8);
$color-green-600: rgba(109, 188, 13);