@use "../../abstract/mixins/globalMixins" as Gm;
@use "../../abstract/variables/globalVariables" as Gv;

.sidebar {
  &__container {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    align-items: center;
    gap: 0;
    margin: auto 0;

    &--item {
      display: flex;
      text-align: center;
      width: 100%;
      justify-content: center;
      border-bottom: 1px solid Gv.$color-gray-200;
      transition: background-color 0.3s ease;

      @include Gm.responsive(tab-port) {
        text-align: left;
      }

    }
    &--link {
      padding: 1rem;
      font-size: 1.8rem;
      padding: 1.5rem 0;
      width: 100%;
      text-transform: capitalize;
      @include Gm.responsive(tab-port) {
        justify-content: flex-start;
        padding: 1.5rem;
        font-size: 2rem;
      }
    }
  }
}
