@use "../../abstract/variables/globalVariables" as Gv;

.eclipse {
  animation: left-right 1.5s linear infinite;

  &--1 {
    background: linear-gradient(45deg, white 0%, Gv.$color-yellow-600 50%, blue 100%);
    border-radius: 50%;
  }

  &__sm {
    width: 14px;
  }
  &__md {
    width: 24px;
  }
  &__lg {
    width: 30px;
  }
  &__vw {
    width: 23px;
  }
}

.sm {
  width: 15px;
  height: 15px;
}
.md {
  width: 25px;
  height: 25px;
}
.lg {
  width: 30px;
  height: 30px;
}
.vw {
  width: 25px;
  height: 25px;
  right: 10%;
}

@keyframes left-right {

  100% {
    transform: rotate(359deg);
  }
}
