@use "../abstract/variables/globalVariables" as Gv;

li {
	list-style: none;
}

a {	
	text-decoration: none;
}

button, input[type="submit"] {
	background: none;
	border: none;
	outline: none;
	cursor: pointer;
}

select {
  appearance: none;
  background-color: transparent;
  border: none;
  margin: 0;
  width: 100%;
  font-family: inherit;
  cursor: pointer;
	text-transform: uppercase;
}